.picIndex{
    /* display: grid;
    grid-template-columns:150px 150px 150px ;
    grid-template-rows: 150px auto;
    grid-gap: 15px 15px; */
    /* display: flex;
    flex-wrap: wrap; */
    margin:15px;
    color:#D16666 ;
}
.og{
    display: flex;
    flex-wrap: wrap;
}
.textIndex{
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-column: 150px auto; */
    word-wrap: break-word;
    max-width: 170px;
}
.picture{
    /* display: grid; */
    /* justify-self: center; */
    border-style:groove;
    border-radius: 1em;
    border-color:#FDCA40 ;
    max-width: 500px;
    max-height: 420px ;
}
/* heading */
h1{
    display: flex;
    background-color: #3772FF;
    color: #E6E8E6;
    justify-content: center;
    border-style: groove;
}
body{
    /* display: grid; */
    max-width: 100%;
    max-height: 70%;
    background-color: #E6E8E6 ; 
    /* align-items: center; */
    /* border-style: double; */
}
.form{
    display: grid;
    align-content: center;
    padding: 15px;
    background-color: #E6E8E6;
    font-style: italic;
    border-style: solid;
}
.picShow{
    display: flex;
    justify-content: center;
}
.textShow{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    */
    display: grid;
    align-content: center;
    font-size: 25px;

}
/* all nav and buttons */
.submitButton{
    color:#3772FF;
    background-color:#E6E8E6 ;
    font-size: medium;
}
.buy{
    color:#3772FF;
    background-color:#E6E8E6 ;
    font-size: medium;
}
.back{
    padding-right: 90%;
    font-size: medium; 
    color:#DB162F
}
.edit{
    /* display: flex;
    flex-direction: row-reverse; */
    font-size: medium; 
    color:#DB162F
}
.delete{
    color:#DB162F;
    background-color:#E6E8E6 ;
    font-size: medium; 
    border-color: #DB162F;
}
.create{
    color:#3772FF;
    font-size: medium; 
    border-color: #DB162F;
}
.comicPage{
    color:#3772FF;
    font-size: medium; 
}

header{
    color: aqua;
    color: aquamarine;
    color: goldenrod; /*booster*/
    color: olivedrab; /*lanter*/
    color: rebeccapurple;/* huntress*/
    color:wheat;/*batman*/
    color:seagreen; /*aquaman*/
    color: royalblue;/*nightwing*/
    color: maroon;/*robin*/
    color: limegreen;/*maybe arrow*/
    color:firebrick; /*robin*/
    color: mediumorchid; /*zatana*/
    color: orange
}